<h1 class="text-center">New Question</h1>

<%= render 'questions/form', question: question %>

<p>
  <%= link_to 'Back', request.referer.present? ? request.referer : quiz_path(question.quiz) %>
</p>